html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
}

.simple-editor {
	width: 100%;
	height: 100%;
	&__editor {
		float: left;
		width: 50%;
		height: 100%;
	}
	&__viewer {
		float: right;
		width: 50%;
		height: 100%;
	}
}
