body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.simple-editor {
	display: flex;
	&__editor {
		min-height: calc(100vh - 50px);
		width: 50%;
		padding: 1rem;
		box-sizing: border-box;
		font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体",
			"ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		resize: none;
		background-color: #1e1e1e;
		color: #e8e8d4;
		border: none;
		font-size: 18px;
	}
	&__viewer {
		min-height: calc(100vh - 50px);
		width: 50%;
		padding: 1rem;
		box-sizing: border-box;
		font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体",
			"ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		&__emphasis_mark {
			-webkit-text-emphasis: dot;
			text-emphasis: dot;
		}
	}
}
